<%- include('../shared/includes/head', { pageTitle: "首頁" }) %>
  <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
  <%- include('../shared/includes/header') %>
  <main>
    <% if (articles !== [] && articles.length > 0) { %>
      <ul id="article">
        <% for (const article of articles) { %>
          <li>
            <a href="/article/article_detail/<%= article._id %>">
              <div class="image">
                <img src='<%= article.imageURL %>' alt="<%= article.title %>">
              </div>
              <div id="auth-date">
                <p><%= article.author.nickname %> - <%= article.date %></p>
              </div>
              <p class="article-title"><%= article.title %></p>
            </a>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <div class="no-content">
        <h1>目前尚未有文章</h1>
        <a href="/login" class="btn">登入以建立文章</a>
      </div>
    <% } %>
  </main>
  <footer>

  </footer>
<%- include('../shared/includes/footer') %>